.darkblue {
  color: #0160d6;
}

.lightblue {
  color: #00aaf8;
}

.orange {
  color: #f13b13;
}

.green {
  color: #aab624;
}

* {
  background-color: #f0ece9;
  font-family: "Lato", sans-serif;
}

.pt2 {
  padding-top: 30px;
}

.images {
  max-width: 400px;
  height: auto;
}